<div class="small-6 small-centered columns">
  <%= form_for @dish, :html => {:multipart => true} do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
    <div class="field">
       <%= f.label :image %><br>
       <%= f.file_field :image %>
    </div>
    <div>
      <%= f.submit "Submit Dish", class: "hollow button" %>
    </div>
  <% end %>
</div>
