<div class="small-6 small-centered columns">
  <%= form_for [@dish, @review] do |f| %>
    <div>
      <%= f.label :rating %>
      <%= f.text_field :rating %>
    </div>
    <div>
      <%= f.label :body, "Comments" %>
      <%= f.text_field :body %>
    </div>
    <div>
      <%= f.submit "Review #{@dish.name}", class: "hollow button" %>
    </div>
  <% end %>
</div>
