<div class="top-bar">
  <div class="top-bar-title">
    <strong>The Breakfast Club</strong>
  </div>
  <div id="responsive-menu">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <p>
          <%- if current_user -%>
            <%= link_to current_user.email, user_path(current_user) %>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
            <%= link_to 'Admin', admin_dishes_path %>
          <% else %>
            <%= link_to 'Sign Up', new_user_registration_path %>
            <%= link_to 'Sign In', new_user_session_path %>
          <% end %>
        </p>
      </ul>
   </div>
   <div class="top-bar-right">
     <ul class="menu">
       <div>
         <%= render "./dishes/search" %>
       </div>
     </ul>
   </div>
 </div>
