<!DOCTYPE html>
<html>
  <head>
    <title>Breakfast Club</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <%= stylesheet_link_tag 'welcome' if controller_name == 'homes' %>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag 'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
  </head>

  <% if controller_name != 'homes' %>
    <body id="other">
      <header>
        <%= render 'layouts/navbar' %>
      </header>
      <div class="container">
        <% flash.each do |key, value| %>
          <div class="flash text-center flash-<%= key %>">
            <%= value %>
          </div>
        <% end %>

        <div class="row">
          <div class="columns">
            <%= yield %>
          </div>
        </div>
      </div>
    </body>
  <% else %>
    <body id="home">
      <div class="container">
        <% flash.each do |key, value| %>
          <div class="flash text-center flash-<%= key %>">
            <%= value %>
          </div>
        <% end %>

        <div class="row">
          <div class="columns">
           <%= yield %>
          </div>
        </div>

      </div>
    </body>
  <% end %>
</html>
